<section>
  <h1>Diretivas Customizadas</h1>
  <div>
    <p diretivaPersonalizada>
      Tag com a diretiva customizada e sendo modificada
    </p>
    <p diretivaPersonalizada>
      Tag com a diretiva customizada e sendo modificada com InputProperties
    </p>
  </div>

  <h1>Diretivas Customizadas com eventos</h1>
  <div>
    
    <p diretivaEvento>
      Tag que modifica via evento
    </p>
    <p diretivaEvento="blue">
      Tag que modifica via evento com property binding
    </p>
  </div>
</section>
