<h1>PÁGINA HOME!!!</h1>
<app-componente></app-componente>
<app-filho 
  titulo="Titulo passado como valor" 
  texto={{texto}}
  [dados]="{email: 'email@exemplo.com', nome: 'Yan Gabriel'}"
></app-filho>
<app-diretivas-de-atributo></app-diretivas-de-atributo>
<app-diretivas-estruturais></app-diretivas-estruturais>
<app-eventos></app-eventos>
<app-emitter></app-emitter>
<app-ciclo-de-vida></app-ciclo-de-vida>
<app-data-binding></app-data-binding>
<app-services></app-services>
<app-requisicoes-http></app-requisicoes-http>
<app-ng-template></app-ng-template>
<app-ng-content>
  <span>Adicionando uma TAG span de fora do componente</span>
  <app-componente-de-fora></app-componente-de-fora>
</app-ng-content>