<section >
  <h1>Diretivas Estruturas</h1>
  <div>
    <h2>Renderização Condicional - IF</h2>
    <p *ngIf="active">Apareci se for verdadeiro</p>
    <button (click)="handleActive()">Mudar</button>
  </div>

  <div>
    <!-- 
      A Renderização condicional com IF - ELSE precisa de um 
      componente <ng-template> para a renderização do Else
    -->
    <h2>Renderização Condicional - IF ELSE</h2>
    <p *ngIf="active ; else inactive">Apareço se for Verdadeiro</p>
    <ng-template #inactive>
      <p>Apareço com o ELSE</p>
    </ng-template>

    <button (click)="handleActive()">Mudar</button>
  </div>

  <div>
    <h2>Renderização de Multiplos elementos - For</h2>
    <ul style="padding-left: 1rem;">
      <h3>Array de Strings</h3>
      <li *ngFor="let item of lista">{{item}}</li>
    </ul>
    <ul style="padding-left: 1rem;">
      <h3>Array de Objetos</h3>
      <li *ngFor="let obj of objetos; let i=index">{{obj.name}} Indice: {{i}}</li>
    </ul>
  </div>
</section>
